<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminando registros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CRUD ejemplo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000">Index</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmpleado" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Empleados
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownEmpleado">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/empleados/VistaCrear">Crear</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/empleados/VistaLeer">Leer</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/empleados/VistaModificar">Actualizar</a>
                    <a class="dropdown-item" href="#">Eliminar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDepartamento" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departamentos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownDepartamento">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/departamentos/VistaCrear">Crear</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/departamentos/VistaLeer">Leer</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/departamentos/VistaModificar">Actualizar</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/departamentos/VistaBorrar">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>
	</nav>
    <div class="container mt-5">
        <h2>Eliminar empleado</h2>
        <form id="formEliminar" onsubmit="return validarSeleccion()" action="/empleados" method="delete">
            <!-- Campo oculto para almacenar el DNI seleccionado -->
            <input type="hidden" id="obj" name="obj">
            <div class="form-group">
                <label for="departamentoSelect">Selecciona un empleado:</label>
                <select id="departamentoSelect" class="form-control" required>
                    <option value="" disabled selected>Selecciona un empleado</option>
                    <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                </select>
            </div>
        </form>
    </div>
	<!-- Bootstrap JS and jQuery (Bootstrap lo requiere) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-database.js"></script>
	<script>
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "firebase/app";
        import { getAnalytics } from "firebase/analytics";

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyA1kmmFjAazn52p1YKZ0ZfZPs-wT3O5b8c",
            authDomain: "proyectofinalad-af58a.firebaseapp.com",
            databaseURL: "https://proyectofinalad-af58a-default-rtdb.europe-west1.firebasedatabase.app",
            projectId: "proyectofinalad-af58a",
            storageBucket: "proyectofinalad-af58a.appspot.com",
            messagingSenderId: "266691159088",
            appId: "1:266691159088:web:983ea3b7ab95a86f5a79f5",
            measurementId: "G-3REBPY06WZ"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        // Referencia a la base de datos
        var database = firebase.database();

        // Función para llenar el desplegable con datos de Firebase
        function llenarDesplegable() {
            var empleadoSelect = document.getElementById("empleadoSelect");
            var dniSeleccionadoInput = document.getElementById("dniSeleccionado");

            // Obtén una referencia a la lista de empleados en tu base de datos
            var empleadosRef = database.ref("empleados");

            // Escucha cambios en la lista de empleados
            empleadosRef.on("value", function(snapshot) {
                empleadoSelect.innerHTML = ""; // Limpia opciones anteriores

                // Recorre los empleados y crea opciones para el desplegable
                snapshot.forEach(function(empleadoSnapshot) {
                    var empleado = empleadoSnapshot.val();
                    var option = document.createElement("option");
                    option.value = empleado.dni;
                    option.text = `${empleado.nombre} ${empleado.apellido}`;
                    empleadoSelect.appendChild(option);
                });

                // Actualiza el campo oculto con el DNI del primer empleado al cargar la página
                if (snapshot.exists()) {
                    dniSeleccionadoInput.value = snapshot.val()[0].dni;
                }
            });

            // Escucha cambios en la selección del desplegable y actualiza el campo oculto
            empleadoSelect.addEventListener("change", function() {
                dniSeleccionadoInput.value = this.value;
            });
        }

        // Llama a la función al cargar la página
        window.onload = llenarDesplegable;

        // Función para validar la selección antes de enviar el formulario
        function validarSeleccion() {
            var empleadoSelect = document.getElementById("empleadoSelect");

            if (empleadoSelect.value === "") {
                // Si no se ha seleccionado un empleado, muestra un mensaje y evita el envío del formulario
                alert("Por favor, selecciona un empleado.");
                return false;
            }

            return true; // Permite el envío del formulario si se ha seleccionado un empleado
        }
    </script>
    <div class="container mt-5">
        <button type="submit" class="btn btn-primary">Actualizar empleado</button>
    </div>
</body>
</html>
