<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer registros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Proyecto AD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000">Index</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownEmpleado" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Empleado
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownEmpleado">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/empleados/VistaCrear">Crear</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/empleados/VistaLeer">Leer</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/empleados/VistaModificar">Actualizar</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/empleados/VistaBorrar">Eliminar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownDepartamento" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departamento
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownDepartamento">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/departamentos/VistaCrear">Crear</a>
                    <a class="dropdown-item" href="#">Leer</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/departamentos/VistaModificar">Actualizar</a>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/departamentos/VistaBorrar">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>
	</nav>
    <div class="container mt-5">
        <h2>Lista empleados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
					<th>Lider</th>
					<th>Nº Empleados</th>
                </tr>
            </thead>
            <tbody>
                <!-- Mostrar registros de la db aqui -->
            </tbody>
        </table>
    </div>
	<!-- Bootstrap JS and jQuery (Bootstrap lo requiere) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Firebase -->
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";
        import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-database.js";

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyA1kmmFjAazn52p1YKZ0ZfZPs-wT3O5b8c",
            authDomain: "proyectofinalad-af58a.firebaseapp.com",
            databaseURL: "https://proyectofinalad-af58a-default-rtdb.europe-west1.firebasedatabase.app",
            projectId: "proyectofinalad-af58a",
            storageBucket: "proyectofinalad-af58a.appspot.com",
            messagingSenderId: "266691159088",
            appId: "1:266691159088:web:983ea3b7ab95a86f5a79f5",
            measurementId: "G-3REBPY06WZ"
        };

        // Inicializa Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        // Referencia a la base de datos en tiempo real de Firebase
        const db = getDatabase();

        // Referencia al nodo "departamentos" en la base de datos (ajusta según la estructura de tu base de datos)
        const departamentosRef = ref(db, 'departamentos');

        // Función para mostrar los datos de los departamentos en la tabla
        function displayDepartmentData(snapshot) {
            const departamentos = snapshot.val();
            const tableBody = document.getElementById('departmentTableBody');

            // Limpiar las filas existentes de la tabla
            tableBody.innerHTML = '';

            // Iterar a través de los departamentos y agregar filas a la tabla
            for (const key in departamentos) {
                if (Object.hasOwnProperty.call(departamentos, key)) {
                    const departamento = departamentos[key];

                    // Agregar una nueva fila a la tabla
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${key}</td>
                        <td>${departamento.nombre}</td>
                        <td>${departamento.descripcion}</td>
                        <td>${departamento.lider}</td>
                        <td>${departamento.numero_empleados}</td>
                    `;

                    tableBody.appendChild(row);
                }
            }
        }

        // Configurar un escucha para actualizar la tabla cuando cambien los datos
        onValue(departamentosRef, displayDepartmentData);
    </script>
</body>
</html>
